@import "tailwindcss";

@theme {
  --color-brand-1: #ffffff;
  --color-brand-2: #e3e9e7;
  --color-brand-3: #acc1bc;
  --color-brand-4: #376755;
  --color-brand-5: #3c6b59;
  --color-brand-6: #354c44;
}

@layer base {
  * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
}
